<img src="./assets/img/burger.png" alt="burger-clipart" class = "burger-pic">
<div class= "header-div">
    <h1 class = "heading">Eat-Da-Burger</h1>
</div>



<div class="all-burgers">
<div class = "uneaten-burgers">
    <h2>Are You Hungry??</h2>
    {{!-- takes all the burgers from the unEaten array and displays them in the left column with a button next to them --}}
{{#each notEaten}}
<ul class = "uneaten-list list">
    <li>
        {{burger_name}} <button class = "eat" data-id = "{{id}}">Eat-Da-Burger!</button>
    </li>
</ul>
{{/each}}
</div>
<div class = "devoured-burgers">
    <h2>Yum! Yum!</h2>
     {{!-- takes all the burgers from the devoured array and displays them in the right column --}}
    {{#each devoured}}
<ul class = "eaten-list list">
    <li>
        {{burger_name}} 
</ul>
{{/each}}
</div>
</div>


  <form class = "new-burger-form">
    <input class="input-burger" type="text" name = "burger" placeholder="What's your next burger??">
    <button class="submit-btn">Submit</button>
</form>  



