<img src="./assets/img/burger.jpeg" alt="burger-clipart" class = "burger-pic">
<h1 class = "heading">Eat-Da-Burger</h1>


<div class="all-burgers">
<div class = "uneaten-burgers">
{{#each this.notEaten}}
<p>{{burger_name}}</p> <button class = "eat" data-id="{{id}}">Eat-Da-Burger!</button>
{{/each}}
</div>
<div class = "devoured-burgers">
    {{#each this.devoured}}
<p>{{burger_name}}</p>
{{/each}}
</div>
</div>

<div>
  <form class = "new-burger-form">
    <input class="input-burger" type="text" name = "burgers" placeholder="What's your new burger??">
    <button class="submit-btn" type="submit">Submit</button>
</form>  
</div>


